/*ion-tab-bar {
    border-radius: 0% 0% 25px 25px !important;
    --background: #222428 !important;
    border-bottom: 2px solid red !important;
    color: whitesmoke !important;;
}*/

.mytabs {
    border-top: 2px solid red !important;
    border-radius: 25px 25px 0% 0% !important;
}

.active ion-icon {
    --ion-color-base: white !important;
}
